<nav class="navbar navbar-expand-sm navbar-light bg-light border">
    <div class="container">
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                <li class="nav-item active mx-2">
                    <a class="nav-link btn btn-info text-light py-1" href="{{url_for('Index')  }}">Latih</a>
                </li>
                <li class="nav-item active mx-2">
                    <a class="nav-link btn btn-success text-light py-1" href="{{url_for('Uji')  }}">Uji</a>
                </li>
            </ul>
        </div>
    </div>
</nav>