<!-- Page Content -->
<div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
        <div class="mx-2 d-none d-md-block text-dark">Klasifikasi Penderita Stroke Iskemik Melalui Sinyal
            Elektrokardiogram
            menggunakan metode
            k-Nearest Neighbor
        </div>

        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="navbar-toggler text-uppercase h5 m-0 text-dark">{{title}}</div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <div class="nav-link text-dark text-uppercase h5 m-0">{{title}}</div>
                </li>
            </ul>
        </div>
    </nav>